<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        form {
            margin: 20vh auto;
            text-align: center;
        }
        div {
            margin: 10px;
        }
        button {
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <h2>Login</h2>
        <div>
            <input type="email" placeholder="Email" name="email">
        </div>
        <div>
            <input type="password" placeholder="Password" name="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>