<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permission Prompt</title>
    <style>
        form {
            margin: 20vh auto;
            text-align: center;
        }
        div {
            margin: 10px;
        }
        button {
            padding: 5px 15px;
        }        
    </style>
</head>
<body>
    <form action = "{{ url_for('prompt_page') }}" method = "post">
        <h2>Permission Request</h2>
        <p>Do you want to authenticate {{ client_name }} app to your data on the server</p>
        <div>
            <button type="submit" name="decision" value="deny">Deny</button>
            <button type="submit" name="decision" value="accept">Accept</button>
        </div>
    </form>
</body>
</html>