<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      form {
        margin: 10vh auto;
        text-align: center;
      }
      a {
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid blue;
      }
    </style>
</head>
<body>
    <form action="/connect" method="post">
    <a target="_blank" href="http://localhost:5000/prompt?client_name={{ client_name }}&redirect_uri={{ redirect_uri }}&response_type={{ response_type }}&scope={{ scope }}">Connect to External App</a>
    </form>
</body>
</html>
